## puma.rb
PORT=3000
RAILS_MAX_THREADS=3

## config/database.yml
DATABASE_NAME=goodnite_dev
DATABASE_USERNAME=goodnite
DATABASE_PASSWORD=
DATABASE_PORT=5432
DATABASE_HOST=localhost

DATABASE_TEST_NAME=goodnite_test
DATABASE_TEST_USERNAME=goodnite
DATABASE_TEST_PASSWORD=

SECRET_KEY_BASE=